In [3]:
import pandas as pd
import tensorflow as tf
import tensorflow_probability as tfp
import matplotlib.pyplot as plt
import numpy as np

In [5]:
tfd = tfp.distributions

In [13]:
frogs = pd.read_csv('../data/frogs.csv', '\t')

FileNotFoundError: [Errno 2] File ../data/frogs.csv does not exist: '../data/frogs.csv'

In [11]:
frogs

,Integer,Categorical,Numerical,Numerical.1,Categorical.1,Categorical.2,Categorical.3,Categorical.4,Categorical.5,Categorical.6,...,Ordinal.1,Categorical.8,Categorical.9,Label 1,Label 2,Label 3,Label 4,Label 5,Label 6,Label 7
0,ID,Motorway,SR,NR,TR,VR,SUR1,SUR2,SUR3,UR,...,BR,MR,CR,Green frogs,Brown frogs,Common toad,Fire-bellied toad,Tree frog,Common newt,Great crested newt
1,1,A1,600,1,1,4,6,2,10,0,...,0,0,1,0,0,0,0,0,0,0
2,2,A1,700,1,5,1,10,6,10,3,...,1,0,1,0,1,1,0,0,1,0
3,3,A1,200,1,5,1,10,6,10,3,...,1,0,1,0,1,1,0,0,1,0
4,4,A1,300,1,5,0,6,10,2,3,...,0,0,1,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
185,185,S52,2300,1,12,3,2,2,1,0,...,1,0,1,0,1,0,0,0,0,0
186,186,S52,300,1,14,2,7,10,2,0,...,5,0,1,1,1,1,1,0,1,0
187,187,S52,500,1,1,4,1,10,2,0,...,5,0,1,1,1,1,1,0,1,0
188,188,S52,300,1,12,3,2,1,6,0,...,0,0,1,0,1,1,0,0,0,0
189,189,S52,300,1,12,3,2,6,10,0,...,1,0,1,0,1,1,0,0,0,0